name: AutoGetGP
on:
  push:
  schedule:
    - cron: '3 0/1 * * *' #北京时间8:03，预计9点左右执行，每一小时执行一次

jobs:
  NWPU-GET:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: 'Install requirements'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: 'Start'
        env:
          USER_NAME: {{secrets.USER_NAME}}
          PASSWORD: {{secrets.PASSWORD}}
          TO: {{secrets.TO}}
          MAIL_PROVIDER: {{secrets.MAIL_PROVIDER}}
          SCHOOL_ID: {{secrets.SCHOOL_ID}}
          SCHOOL_PSD: {{secrets.SCHOOL_PSD}}
          IP: {{secrets.IP}}
          PORT: {{secrets.PORT}}
        run: python ./client/client.py
